{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/restaurant?_method=PUT" method="POST">
      <fieldset>
        <legend>Create New Restaurant</legend>
        <label class="form-label">Name:
        </label>
        <input
          type="text"
          name="name"
          placeholder="{{ restaurant.name }}"
          value="{{ restaurant.name }}"
          class="form-control">
        <label class="form-label mt-3">Cuisine:</label>
        <input
          type="text"
          name="cuisine"
          placeholder="{{ restaurant.cuisine }}"
          value="{{ restaurant.cuisine }}"
          class="form-control">
        <label class="form-label">Menu Items:</label>
        <input
          type="text"
          name="menu"
          value="{{ restaurant.menuItems }}"
          class="form-control">
        <label class="form-label">Location:</label>
        <input
          type="text"
          name="location"
          class="form-check-input"
          {% if restaurant.location %}
          checked
          {% endif %}>
      </fieldset>
      <input
        type="submit"
        value="Edit Restaurant"
        class="btn btn-success">
    </form>
  </div>
{% endblock %}