{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-sm">
    <form action="/restaurant/{{restaurant._id}}?_method=PUT" method="POST">
      <fieldset>
        <legend>Edit   {{ restaurant.name }} </legend>
        <label class="form-label">Name: 
        </label>
        <input
          type="text"
          name="name"
          placeholder="{{ restaurant.name }}"
          value="{{ restaurant.name }}"
          class="form-control">
        <label class="form-label mt-3">Cuisine:</label>
        <input
          type="text"
          name="cuisine"
          placeholder="{{ restaurant.cuisine }}"
          value="{{ restaurant.cuisine }}"
          class="form-control">
          </br>
        <label class="form-label">Menu Items</label>
        </br>
        <label class="form-label">Appetizer:</label>
        <input
          type="text"
          name="appetizer"
          value="{{ restaurant.menuItems[0].appetizer }}"
          class="form-control">
        <label class="form-label">Entree:</label>
        <input
          type="text"
          name="entree"
          value="{{ restaurant.menuItems[0].entree }}"
          class="form-control">
        <label class="form-label">Dessert:</label>
        <input
          type="text"
          name="dessert"
          value="{{ restaurant.menuItems[0].dessert }}"
          class="form-control">
          </br>
        <label class="form-label">Location:</label>
        <input
          type="text"
          name="location"
          value="{{ restaurant.location }}"
          class="form-control">

      </fieldset>
        <input type="submit" class="btn btn-success mt-4">         
        <a href="/restaurant" class="btn btn-warning mt-4">Back</a>
    </form>
  </div>
{% endblock %}