{% layout 'layout.liquid' %}
  {% block content %}
      <div>
        <div class="row">
          {% for restaurant in restaurants %}
            <div 
            class="card ms-5 mb-3 mt-3" 
            style="width: 17rem; border:3px solid black; background-color:rgb(235, 233, 233); " >
            <a href="/restaurant/one/{{restaurant.id}}" class="text-decoration-none stretched-link"
            style="color:black">
              <h4 
                class="card-header mt-2" 
                style="font-weight: bold; font-style: italic; font-family: fantasy; text-align:center">{{ restaurant.name }}</h4>

                <div 
                  class="card-body"      
                  style="background-color:lightyellow">
                  <p 
                    class="card-text" 
                    style="text-align:center"  >
                    
                    {% for items in restaurant.menuItems %}
                    <span 
                      style="font-style:italic">{{ items.dishType}}</span>
                      
                    </br>
                    <span 
                      style="font-weight:bolder">
                      {{ items.dishName }}
                    </span>
                    </br>
                    <span 
                      >{{ items.price}}$</span>
                    </br></br>
                    {% endfor %}
  
                  </p>
                  </div>
                  <p class="card-footer" style="font-style: italic; " >
                    Location: {{ restaurant.location }}
                    </br>Owner: {{ restaurant.owner.username }}
                    </p>
                    
                    </a>
                    {% if restaurant.owner.username == username %}
                    <a 
                    href="/restaurant/edit/{{restaurant.id}}" 
                    class="btn btn-warning mb-2 stretched-link"
                    style="position: relative" >
                    EDIT Restaurant Details
                    </a>
                    <a 
                    href="/restaurant/{{restaurant.id}}" 
                    class="btn btn-warning mb-2 stretched-link"
                    style="position: relative" >
                    ADD Menu Items 
                    </a>
                    
                {% endif %}
                
            </div>
            
          {% endfor %}
        </div>
      </div>

{% endblock %}