{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <h2 class="display-6">All Restaurants</h2>
    <div class="row">
      {% for restaurant in restaurants %}
        <div class="card" style="width: 20rem;">
          <h4 class="card-header" style="font-weight: bold; font-style: italic; font-family: fantasy;">{{ restaurant.name }}</h4>
          <div class="card-body">
      {% comment %}
            <h5 class="card-title">
              Cuisine: {{ restaurant.cuisine }}</br></br>
            </h5>
      
            
            styling ideas
            style="color: red; font-weight: bold; font-size: 2em;"
      {% endcomment %}
        <h6 class="font-weight: bolder; ms-5">Menu</h6>
            <p class="card-text" >
               </br></br>

              
              {% for items in restaurant.menuItems %}
              {{ items.dishType}}
              </br>
              {{ items.dishName }}
              <span class="ms-5" >{{ items.price}}$</span>
              </br></br>
              {% endfor %}

            </p>

            <p class="card-text" style="font-style: italic; " >
              </br>Location: {{ restaurant.location }}
            </p>
            <p class="card-text">
                </br>Owner: {{ restaurant.owner.username }}
            </p>

            {% if restaurant.owner.username == username %}
              <a href="/restaurant/edit/{{restaurant.id}}" class="btn btn-info">
                View {{ restaurant.name }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}