{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <h2 class="display-6">All Restaurants</h2>
    <div class="row">
      {% for restaurant in restaurants %}
        <div class="card" style="width: 18rem;">
          <h5 class="card-header">{{ restaurant.name }}</h5>
          <div class="card-body">
            <h5 class="card-title">
              Cuisine: {{ restaurant.cuisine }}</br></br>
            </h5>
            <p class="card-text">
              Menu </br></br>
              Appetizer : {{ restaurant.menuItems[0].appetizer }} </br></br>
              Entree : {{ restaurant.menuItems[0].entree }} </br></br>
              Dessert : {{ restaurant.menuItems[0].dessert }} 
            </p>
            <p class="card-text">
              </br>Location: {{ restaurant.location }}
            </p>
            <p class="card-text">
                </br>Owner: {{ restaurant.owner.username }}
            </p>
            <a href="/restaurant/{{ restaurant.id }}" class="btn btn-info">
              View {{ restaurant.name }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}