{% layout 'layout.liquid' %}
  {% block content %}

            <div 
              class="card mx-auto mt-5 mb-5" 
              style="width: 700px; 
              border:3px solid black; 
              text-align:center;
              
              background-color:rgb(235, 233, 233);" >
              <h2 
                class="card-header mt-2" 
                style="font-weight: bold; font-style: italic; font-family: fantasy; text-align:center">{{ restaurant.name }}</h2>

                <div 
                  class="card-body"      
                  style="background-color:lightyellow;
                  font-size:larger">
  
                  <p 
                    class="card-text" 
                    style="text-align:center"  >
                    
                    {% for items in restaurant.menuItems %}
                    <span 
                      style="font-style:italic">{{ items.dishType}}</span>
                      
                    </br>
                    <span 
                      style="font-weight:bolder">
                      {{ items.dishName }}
                    </span>
                    </br>
                    <span 
                      >{{ items.price}}$</span>
                    </br></br>
                    {% endfor %}
  
                  </p>
                </div>

                <p class="card-footer" style="font-style: italic; " >
                  Location: {{ restaurant.location }}
                  </br>Owner: {{ restaurant.owner.username }}
                </p>


            </div>
          


{% endblock %}